body{
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   }

.g-search {
    display: flex;
    flex-direction: center;
    width: auto; 
    max-height: 
}
.icon {
        max-width: 15px;
        max-height: 20px;
       }
}
.logo{
    display: flex;
    flex-direction : center;
    fill: white;
    width: 10px;
    max-width: 15px;
    max-height: 20px;
    float: center;
  }
  
  .gb_Ue:hover{
    background-color: #5f6368;
    border-radius: 50px;
    padding: 5px;
  }
.header-nav{
    display: flex;
    flex-direction: center;
    font-size: 13px;
}
